#app, .root {
  width: 100%;
  height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header, .footer, .results {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header span {
  margin-left: 10px;
}

.results {
  width: 100%;
}

.vs {
  font-weight: 800;
  font-size: 5em;
}

.results {
  justify-content: space-around;
}

.button {
  padding: 10px;
  margin: 20px;
  color: white;
  background-color: rgb(27,43,52);
  border: 1px solid black;
  border-radius: 3px;
  font-size: 3em;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
  user-select: none;
}

.button:hover {

}

.big-button {
  font-size: 3em;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  width: 40%;
  font-size: 3.5em;
}